@{
    Layout = null;
}
 
<!DOCTYPE html>
 
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sensor</title>
</head>
<body>
<canvas id="myChart"></canvas>

<script src="../../Scripts/Chart.js"></script>
<script src="../../Scripts/MyChart.js"></script>
</body>
</html>