@{
    Layout = null;
}
 
<!DOCTYPE html>
 
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Лаборатория</title>
</head>
<body>
<div>
    <h3>Значения</h3>
    <table>
        <tr><td><p>Id значения</p></td>
            <td><p>Октановое число</p></td>
            <td><p>Дата измерения</p></td><td></td>
        </tr>
        @foreach (var v in ViewBag.Values)
        {
            <tr>
                <td><p>@v.Id</p></td>
                <td><p>@v.Val</p></td>
                <td><p>@v.Date</p></td>
            </tr>
        }
    </table>
</div>
</body>
</html>